<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <button appButton>
          Logout <!-- Content projected into the ng-content element without any filtering -->
          <span ngProjectAs="icon">→</span> <!-- ngProjectAs projects the tag <span> as it was the tag <icon> allowing to render the content of the <ng-content select="icon"> -->
        </button>
      </li>
    </ul>
  </nav>
</header>