<!-- Template that will be rendered in the browser -->

<app-header /> <!-- Custom Header Component by Jose (header.component.ts) -->

<main>
    <ul id="users">
        <li>
            <app-user [avatar]="users[0].avatar" [name]="users[0].name" /> <!-- Custom User Component by Jose (user.component.ts) || Property Binding to set the information as a dynamic value -->
        </li>
        <li>
            <app-user [avatar]="users[1].avatar" [name]="users[1].name" />
        </li>
        <li>
            <app-user [avatar]="users[2].avatar" [name]="users[2].name"  />
        </li>
        <li>
            <app-user [avatar]="users[3].avatar" [name]="users[3].name" />
        </li>
    </ul>
</main>